<%- include("partials/header") %>
<div class = "ui main text container segment">
	<div class="ui huge header"> <%= blogs.title %></div>
	<form class="ui form" action="/blogs/<%= blogs._id %>?_method=PUT" method="POST" style= "text-align: center;">
		<div class="field">
			<label>Title</label>
			<input type="text" name= "bloges[title]" value= "<%= blogs.title %>" >
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="bloges[image]" value= "<%= blogs.image %>">
		</div>
		<div class="field">
			<label>Description</label>
			<textarea name="bloges[body]"><%= blogs.body %></textarea>
		</div>
		<button class="ui purple basic button">Edit</button>
	</form>
</div>




<%- include("partials/footer") %>