<%- include("partials/header") %>

<h1> Index Page </h1>

<% blogs.forEach(function(blogs){ %>
	<div>
		<h2> <%= blogs.title %></h2>
		<img src = <%= blogs.image %>
		<span> <%= blogs.created %> </span>
		<p> <%= blogs.body %> </p>
	</div>

<% }); %>

<%- include("partials/footer") %>